
    .nav {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 60px;
    background-color: rgb(7, 66, 122);
    color: white;
    }
    
   
    
    .List,
    .Album  {
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 5px 5px;
        margin: 0 10px;
        cursor:pointer;
    }